{% extends 'base.html' %}
{% block styles %}
{{ super() }}
{% endblock %}}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <form class="form-signin col col-md-4" style="position: absolute; top:50%; transform: translateY(-50%)"
              method="post" action="#">
            <h1 class="h3 mb-2">註冊帳號</h1>
            {{ form.csrf_token }}
            {{ form.username.label(class="sr-only") }}
            {{ form.username(class="form-control", placeholder="帳號(Login Name)") }}
            {{ form.email.label(class="sr-only") }}
            {{ form.email(class="form-control mt-2", placeholder="信箱(Email)") }}
            {{ form.password.label(class="sr-only") }}
            {{ form.password(class="form-control mt-2", placeholder="密碼(Password)") }}
            {{ form.check_password.label(class="sr-only") }}
            {{ form.check_password(class="form-control mt-2", placeholder="確認密碼(Password)") }}
            {{ form.submit(class="btn btn-lg btn-primary btn-block my-2") }}
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        var validator;
        validator = $("register_form").validate({
            // 定義驗證規則
            rules: {
                username: {  // name 為 username 的項
                    required: true,  // 不得為空
                    minlength: 6, //最小長度 6
                    maxlength: 20, //最大長度 20
                    remote: {   //將資料送至服務端
                        url: "{{ url_for('register')|safe }}",  //遠端驗證位置
                        type: "post",
                        data: {
                            username: function () {
                                return $('#username').val();
                            }
                        }
                    }

                }
            },
            // 定義回應
            message: {
                username: {
                    required: "帳號不得為空",
                    minlength: "帳號最短長度6個字元",
                    maxlength: "帳號最大長度為20字元",
                    remote: "信箱已被註冊"
                }
            },
            errorPlacement: function (error, element) {      //錯誤資訊的位置
                error.appendTo(element.parent());
            }
        })
    });
</script>
{% endblock %}